@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="hd-header-wrapper">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="">Punto de Afiliación Telecable</h4>
                <p class="">Nombre Del Comercio</p>
            </div>
        </div>
    </div>

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Registrar Lead</h1>

                        <div class="text-left">
                            <div class="form">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="txtNombre">Nombre Completo</label>
                                        <input type="text" class="form-control" id="txtNombre" placeholder="Nombre Completo" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="validationDefault02">Dirección</label>
                                        <textarea type="text" class="form-control" id="txtDireccion" placeholder="Dirección" required rows="4" cols="50"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="validationDefault02">Telefóno #1</label>
                                        <input type="text" class="form-control" id="txtTelefono1" placeholder="Telefóno" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault02">Telefóno #2</label>
                                        <input type="text" class="form-control" id="txtTelefono2" placeholder="Telefóno" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="validationDefault02">Correo</label>
                                        <input type="text" class="form-control" id="txtCorreo" placeholder="Correo" required>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="validationDefault02">Servicio de interés</label>
                                        <!-- Default Input -->
                                        <select class="form-control">
                                            <option>INTERNET</option>
                                            <option>INTERNET + TELEFÓNIA</option>
                                            <option>TV + INTERNET</option>
                                            <option>TV + INTERNET + TELEFÓNIA</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-danger mt-3" type="button">Crear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>